<template>
	<div class="TaskList">
		<q-list>
			<q-item
				multiline
				v-for="task in tasks" :key="task.id">
	      <q-item-side>
					<q-checkbox v-model="task.complete"></q-checkbox>
				</q-item-side>
				<q-item-main>
					<q-item-tile label>{{ task.title }}</q-item-tile>
					<q-item-tile sublabel>{{ task.description }}</q-item-tile>
				</q-item-main>
			</q-item>
		</q-list>

		<q-fixed-position
	    corner="bottom-right"
	    :offset="[18, 18]">
	    
	    <router-link
	      to="/task/create">
	    
	      <q-btn
	        round
	        color="primary">
	        <q-icon name="add"></q-icon>
	      </q-btn>
	    </router-link>
	    
	  </q-fixed-position>
	</div>
</template>

<script>
export default {
  data () {
    return {
    	tasks: [
    		{
          id: 1,
    			title: "Call John",
    			description: "Ask about meeting tomorrow",
    			complete: true
    		},
    		{
          id: 2,
    			title: "Grocery List",
    			description: "Eggs, Milk, Bread",
    			complete: false
    		}
    	]
    }
  }
}
</script>

<style>
</style>
