<template>
  <div class="Create">
    <q-card>
      <q-card-title>
        Create a task
      </q-card-title>

      <q-card-main>
        <q-field
        icon="title">  
        <q-input 
          v-model="task.title"
          float-label="Title" 
          placeholder="Take out the trash" 
          @input="$v.task.title.$touch"
          :error="$v.task.title.$error" />
        </q-field>
        
        <q-field
          icon="description">
          <q-input 
            v-model="task.description"
            float-label="Description" 
            placeholder="Before trash day on Friday" />
        </q-field>
      </q-card-main>

      <q-card-actions>
        <q-btn
          class="pull-right"
          color="primary"
          icon-right="save"
          @click="save(task)">
          Save
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { required } from 'vuelidate/lib/validators';

export default {
  data () {
    return {
    	task: {
    		title: "",
    		description: ""
    	}
    };
  },

  validations: {
    task: {
      title: {
        required
      }
    }
  },

  methods: {
  	save: function ( task ) {
  		console.log('task created: ', task);

      this.$router.push({ path: '/task/task-list' });
  	}
  }
}
</script>

<style>
</style>
