<template>
  <q-layout>
    <q-card>
      <q-card-title>
        Login
      </q-card-title>
      <q-card-main>
        <q-field
          icon="email">
            
          <q-input
            float-label="Email" 
            placeholder="user@your-site.com" 
            @input="$v.form.email.$touch"
            :error="$v.form.email.$error"
            v-model="form.email" />
        </q-field>

        <q-field
          icon="lock">
          <q-input
            float-label="Password"
            @input="$v.form.password.$touch"
            :error="$v.form.password.$error"
            v-model="form.password" />
        </q-field>
      </q-card-main>
      <q-card-actions>
        <q-btn
          color="primary"
          icon-right="check"
          @click="loginWithUserPass(form.email, form.password)">
          Go
        </q-btn>
      </q-card-actions>
    </q-card>

    <q-card>
      <q-card-title>
        Or log in through one of these providers:
      </q-card-title>
      <q-list>
        <q-item 
          link
          @click="loginWithSocial('facebook')">
          <q-item-side color="primary" icon="fa-facebook"></q-item-side>
          <q-item-tile>Facebook</q-item-tile>
        </q-item>
        <q-item 
          link
          @click="loginWithSocial('twitter')">
          <q-item-side color="primary" icon="fa-twitter"></q-item-side>
          <q-item-tile>Twitter</q-item-tile>
        </q-item>
        <q-item 
          link
          @click="loginWithSocial('github')">
          <q-item-side color="primary" icon="fa-github"></q-item-side>
          <q-item-tile>Github</q-item-tile>
        </q-item>
        <q-item 
          link
          @click="loginWithSocial('linkedIn')">
          <q-item-side color="primary" icon="fa-linkedin"></q-item-side>
          <q-item-tile>LinkedIn</q-item-tile>
        </q-item>
      </q-list>
    </q-card>

    <q-card>
      <q-card-title>
        Need an account?
      </q-card-title>
      <q-card-main>
        <router-link to="/register">
          <q-btn color="primary" icon-right="person">
            Register
          </q-btn>
        </router-link>
      </q-card-main>
    </q-card>
  </q-layout>
</template>

<script>
import firebaseService from 'services/firebase.service';
import { required } from 'vuelidate/lib/validators';

export default {
  data () {
    return {
      form: {
        email: "",
        password: "",
        dialog: true
      }
    }
  },

  methods: {
    loginWithUserPass ( email, password ) {
      return firebaseService
        .loginWithUserPass(email, password)
        .then(this.onSignedIn);
    },

    loginWithSocial ( provider ) {
      let action = null;
      switch ( provider ) {
        case "facebook":
          action = firebaseService.loginWithFacebook();
          break;
        case "twitter":
          action = firebaseService.loginWithTwitter();
          break;
        case "github":
          action = firebaseService.loginWithGithub();
          break;
        case "linkedIn":
          action = firebaseService.loginWithLinkedIn();
          break;
        default:
          action = firebaseService.loginWithUserPass(this.form.email, this.form.password);
          break;

      }
      
      return action
        .then(this.onSignedIn);
    },

    onSignedIn () {
      this.$router.push({ path: '/task/list' });
    }
  },

  validations: {
    form: {
      email: {
        required
      },

      password: {
        required
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
