<template>
  <q-layout>
    <q-card>
      <q-card-title>Register</q-card-title>
      <q-card-main>
        <q-input
          float-label="First Name"
          v-model="form.firstName"
          @input="$v.form.firstName.$touch"
          :error="$v.form.firstName.$error" />
          
        <q-input
          float-label="Last Name"
          v-model="form.lastName"
          @input="$v.form.lastName.$touch"
          :error="$v.form.lastName.$error" />

        <q-input 
          float-label="Email"
          v-model="form.email"
          @input="$v.form.email.$touch"
          :error="$v.form.email.$error" />

        <q-input
          type="password"
          float-label="Password"
          v-model="password" 
          @input="$v.form.password.$touch"
          :error="$v.form.password.$error" />

        <q-input
          type="password"
          float-label="Confirm Password"
          @input="$v.form.confirmPassword.$touch"
          :error="$v.form.confirmPassword.$error"
          v-model="form.confirmPassword" />
        </q-input>
      </q-card-main>
      <q-card-actions>
        <q-btn
          @click="signUpWithPassword(form.email, form.password)" 
          icon-right="check" 
          color="primary">
          Register    
        </q-btn>
      </q-card-actions>
    </q-card>
  </q-layout>
</template>

<script>
import FirebaseService from 'services/firebase.service';

import { required, email } from 'vuelidate/lib/validators';

export default {
  data () {
    return {
      form: {
        firstName: "",
        lastName: "",
        email: "",
        password: "",
        confirmPassword: ""
      }
    }
  },
  
  methods: {
    signUpWithPassword ( email, password, confirmPassword  ) {
      if (!(password === confirmPassword)) return;
      return new Promise (( resolve, reject )  => {
        return FirebaseService
          .signup(email, password, 
          function ( success, err ) {
              if (err) return reject(err);
              resolve (success );
          })
      })
      .then(this.onSignedIn)
    },
    onSignedIn() {
      this.$router.go('/Dashboard');
    }
  },

  validations: {
    form: {
      firstName: {
        required
      },

      lastName: {
        required
      },

      email: {
        required,
        email
      },

      password: {
        required
      },

      confirmPassword: {
        required
      }
    }
  }
}
</script>