<template>
  <!-- Don't drop "q-app" class -->
  <div id="q-app">
  	<q-layout ref="layout">
  		<q-toolbar slot="header">
  			<q-btn 
  				flat 
  				@click="$refs.layout.toggleLeft()">
  				<q-icon name="menu"></q-icon>
  			</q-btn>
  			<q-toolbar-title>
  				Whiteboard Application
  				<span slot="subtitle">Whiteboard-it</span>
  			</q-toolbar-title>
  		</q-toolbar>

  		<div slot="left">
	      <q-list class="full-height" link>
	        <q-list-header>Links</q-list-header>
	        <q-side-link 
	          item
	          to="/">
	          <q-item-side icon="home"></q-item-side>
	          <q-item-main label="Home"></q-item-main>
	        </q-side-link>
	        <q-side-link 
	          item
	          to="/task/list">
	          <q-item-side icon="dashboard"></q-item-side>
	          <q-item-main label="Dashboard"></q-item-main>
	        </q-side-link>
	        <q-list-header>Resources</q-list-header>
	        <q-side-link 
	          item
	          to="/support">
	          <q-item-side icon="help"></q-item-side>
	          <q-item-main label="Support"></q-item-main>
	        </q-side-link>
	      </q-list>
	    </div>

	    <q-toolbar slot="footer">
	    	<q-toolbar-title>Whiteboard-it, LLC</q-toolbar-title>
	    </q-toolbar>

	    <router-view />
  	</q-layout>
  </div>
</template>

<script>
/*
 * Root component
 */
export default {

}
</script>

<style></style>
